{{ $m := map }}
{{ template "header.tmpl" addToMap "ctx" . $m }}


<div class="pageheader">
    <h2><i class="fa fa-table"></i> 消息分类管理 </h2>
</div>

<div class="contentpanel">
    <div class="panel panel-default">

        <div class="panel-body">

            <form class="form-horizontal form-bordered" action="" method="get">
                <div class="form-group">
                    <label class="col-sm-3">日志ID：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.LogId}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Job ID：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.JobId}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">订阅者：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.SubscriberName}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">推送地址:<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.LastTarget}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">推送内容:<span class="asterisk"></span></label>
                    <div class="col-sm-9" style="word-wrap: break-word;word-break: break-all;">{{.logDetail.MessageBody}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">消息分类：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.ClassName}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">首次发送时间：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{timeFormat .logDetail.Time}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">重发次数：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.RetryTimes}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">上次重发时间：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{timeFormat .logDetail.LastRetryTime}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">最终发送状态：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{if eq .logDetail.FinalStatus 1}}接收成功{{else}}接收失败{{end}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">第一次接收服务的错误消息：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.FirstFailureMessage}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">最后一次接收服务的错误消息：<span class="asterisk"></span></label>
                    <div class="col-sm-5">{{.logDetail.LastFailureMessage}}</div>
                </div>

            </form>



        </div><!-- panel-body -->
    </div><!-- panel -->

</div><!-- contentpanel -->




{{template "footer.tmpl" .}}