{{ $m := map }}
{{ template "header.tmpl" addToMap "ctx" . $m }}


<div class="pageheader">
    <h2><i class="fa fa-table"></i> 系统日志下载 </h2>
</div>

<div class="contentpanel">
    <div class="panel panel-default">

        {{template "alert.tmpl" .}}

        <div class="panel-body">
            <ul>
                {{range $_,$log :=.data}}
                <li><a href="/Event/LogDownload/?log={{base64Encode $log}}">{{basename $log}}</a></li>
                {{end}}
            </ul>
        </div>
    </div><!-- panel -->

</div><!-- contentpanel -->



{{template "footer.tmpl" .}}