{{ $js := list "/static/js/jquery.validate.min.js" "/static/js/jquery.validate.chinese.js"}}
{{ $m := map }}
{{ template "header.tmpl" addToMap "js" $js $m | addToMap "ctx" . }}

<div class="pageheader">
    <h2><i class="fa fa-table"></i> 修改订阅者 </h2>
</div>

<div class="contentpanel">

    <div class="panel panel-default">

        {{template "alert.tmpl" .}}

        <div class="panel-body">
            <h3 class="panel-title">修改</h3>
            <form id="queryForm" class="form-horizontal form-bordered" action="" method="post">
                <input type="hidden" name="id" value="{{.subscriber.SubscriberId}}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">订阅者名称： <span class="asterisk">*</span></label>
                    <div class="col-sm-5">
                        <input type="text" name="subscriber_name" class="form-control" value="{{.subscriber.SubscriberName}}" placeholder="请输入订阅者名称..." required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">订阅者key： <span class="asterisk">*</span></label>
                    <div class="col-sm-5">
                        <input type="text" name="subscriber_key" class="form-control" value="{{.subscriber.SubscriberKey}}" placeholder="请输入订阅者key..." required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">订阅者私钥： <span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <input type="text" name="secret_key" class="form-control" value="{{.subscriber.SecretKey}}" placeholder="请输入订阅者私钥..." />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">订阅者状态：<span class="asterisk"></span></label>
                    <div class="radio-inline">
                        <input type="radio" name="status" value="0" {{if eq .status 0 }} checked {{end}}/> 正常
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="status" value="1" {{if eq .status 1 }} checked {{end}} /> 已注销
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">权限选项：<span class="asterisk"></span></label>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="privileges[]" value="create_message_class" {{if inArray "create_message_class" .privileges}} checked {{end}}  />允许自己创建消息类型
                    </div>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="privileges[]" value="self_enable_send_message" {{if inArray  "self_enable_send_message" .privileges}} checked {{end}} />允许自己设置可发消息
                    </div>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="privileges[]" value="self_make_subscription" {{if inArray "self_make_subscription" .privileges}} checked {{end}}  />允许自己订阅消息
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" >允许发送的消息类型：</label>
                    <div class="col-sm-6">
                        {{range $_,$message :=.data}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="allowed_message_class_to_send[]" value="{{$message.ClassKey}}" {{if inArray $message.ClassKey $.allowedMessageClassToSend }} checked {{end}} >{{$message.ClassName}}({{$message.ClassKey}})
                            </label>
                        </div>
                        {{end}}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">备注：<span class="asterisk"> </span></label>
                    <div class="textarea col-sm-5">
                        <textarea name="comment" class="form-control" >{{.subscriber.Comment}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <button class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div><!-- panel -->

</div><!-- contentpanel -->


{{template "footer.tmpl" .}}
