{{ $css := list "/static/css/select2.css" "/static/css/bootstrap-slider.css"  }}
{{ $js := list "/static/js/select2.min.js" "/static/js/bootstrap-slider.js" "/static/js/jquery.ui.touch-punch.min.js" "/static/js/jquery.validate.min.js" "/static/js/jquery.validate.chinese.js"  }}
{{ $m := map }}
{{ template "header.tmpl" addToMap "css" $css $m | addToMap "js" $js | addToMap "ctx" . }}


<div class="pageheader">
    <h2><i class="fa fa-table"></i>添加订阅</h2>
</div>

<div class="contentpanel">
    <div class="panel panel-default">

        {{template "alert.tmpl" .}}

        <div class="panel-body">
            <h3 class="panel-title">添加</h3>
            <form id="queryForm" class="form-horizontal form-bordered" action="" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">订阅者： <span class="asterisk">*</span></label>
                    <div class="col-sm-5">
                        <select class="select2" name="subscriber_id" required>
                            <option value="">-请选择-</option>
                            {{range $_,$subscriber :=.subscribers}}
                            <option value="{{$subscriber.SubscriberId}}">{{$subscriber.SubscriberKey}}({{$subscriber.SubscriberName}})</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">消息类型： <span class="asterisk">*</span></label>
                    <div class="col-sm-5 controls overflow-scroll-y">
                        <select class="select2" name="class_id" required >
                            <option value="">-请选择-</option>
                            {{range $_,$message :=.messageClasses}}
                            <option value="{{$message.ClassId}}">&nbsp;({{$message.ClassKey}}){{$message.ClassName}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">订阅状态： <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="radio-inline">
                            <input type="radio" name="status" value="0" checked /> 正常
                        </div>
                        <div class="radio-inline">
                            <input type="radio" name="status" value="1"  /> 已经取消
                        </div>
                        <p class="help-block">
                            (取消订阅后，新进来的消息会被直接丢弃掉；已经在队列中的消息会暂停推送，但不会被丢弃。)
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">消息处理地址：<span class="asterisk">*</span></label>
                    <div class="col-sm-9">
                        <textarea name="reception_channel" placeholder="地址为url，例如: http://worker.com/Order/AddCoupon。 可以设置多个。"  class="form-control" rows="3" required></textarea>
                        <p>
                            <dl>
                                <dd>可以设置多个地址，每个地址占一行,系统每次推送消息时将随机地从以上列表中选取一个地址;</dd>
                                <dd>地址前面可打上环境标签，推送服务将根据运行环境及环境标签选取匹配的地址，若未匹配到对应环境标签的地址，则将选用不带标签的地址。例如：</dd>
                                <dd>
                                    [t_env:pub]http://127.0.0.1/pub/message_processor<br />
                                    [t_env:dev]http://127.0.0.1/dev/message_processor<br />
                                    http://127.0.0.1/message_processor
                                </dd>
                            </dl>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">消息处理超时：<span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-warning col-sm-11">
                                <input id="field-timeout" name="timeout" type="text" data-slider-min="1" data-slider-max="{{.sysParams.MaxMessageProcessTimeout}}" data-slider-value="{{.sysParams.DefaultMessageProcessTimeout}}" data-slider-step="1" required />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-timeout-value" type="number" class="field-input" min="0" max="{{.sysParams.MaxMessageProcessTimeout}}" value="{{.sysParams.DefaultMessageProcessTimeout}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <p class="help-block">
                            (单位：毫秒。最小为1, 最大: {{.sysParams.MaxMessageProcessTimeout}})
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">推送并发数：<span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-danger col-sm-11">
                                <input id="field-concurrency" name="concurrency"  type="text" data-slider-min="0" data-slider-max="{{.sysParams.MaxSendConcurrencyPerChannel}}" data-slider-value="{{.sysParams.DefaultSendConcurrencyPerChannel}}" data-slider-step="1" required/>
                            </div>
                            <div class="col-sm-1">
                                <input id="field-concurrency-value" type="number" class="field-input" min="0" max="{{.sysParams.MaxSendConcurrencyPerChannel}}" value="{{.sysParams.DefaultSendConcurrencyPerChannel}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <p class="help-block">
                            (最大：{{.sysParams.MaxSendConcurrencyPerChannel}}. 并发数越大，消息推送速率越大。当设置为０时，能起到暂停推送的效果，消息不会被丢弃.)
                        </p>
                    </div>
                </div>
                <div class="form-group alert-info">
                    <label class="col-sm-2 control-label">(重试队列)推送并发数：<span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-primary col-sm-11">
                                <input id="field-concurrency_as_retry" name="concurrency_as_retry"  type="text" data-slider-min="0" data-slider-max="{{.sysParams.MaxResendConcurrencyPerChannel}}" data-slider-value="{{.sysParams.DefaultResendConcurrencyPerChannel}}" data-slider-step="1" />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-concurrency_as_retry-value" type="number" class="field-input" min="0" max="{{.sysParams.MaxResendConcurrencyPerChannel}}" value="{{.sysParams.DefaultResendConcurrencyPerChannel}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <p class="help-block">
                            (最大：{{.sysParams.MaxResendConcurrencyPerChannel}}. 并发数越大，消息推送速率越大。)
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">推送最小间隔时间：<span class="asterisk"></span></label>
                    <div class="col-sm-9">

                        <div class="form-group">
                            <div class="slider-success col-sm-11">
                                <input id="field-interval_of_pushes" name="interval_of_pushes"  type="text" data-slider-min="0" data-slider-max="{{.sysParams.MaxIntervalOfSendingPerRoutine}}" data-slider-value="{{.sysParams.DefaultIntervalOfSendingPerRoutine}}" data-slider-step="1" />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-interval_of_pushes-value" type="number" class="field-input" min="0" max="{{.sysParams.MaxIntervalOfSendingPerRoutine}}" value="{{.sysParams.DefaultIntervalOfSendingPerRoutine}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>

                        <p class="help-block">
                            (并发的每个推送进程/线程/协程上,最小的消息推送间隔时间(单位：毫秒)。间隔时间越小，消息推送速率越大。)
                        </p>
                    </div>
                </div>

                <div class="form-group alert-warning">
                    <label class="col-sm-2 control-label" >报警设置：</label>
                    <div class="col-sm-5">
                        <div class="radio-inline">
                            <input type="radio" name="alerter_enabled" value="1" checked /> 开启
                        </div>
                        <div class="radio-inline">
                            <input type="radio" name="alerter_enabled" value="0"  /> 关闭
                        </div>
                        <div class="mt10">
                            <input type="tel" name="alerter_tel" class="form-control"  />
                            <p class="help-block">
                                手机。多个号码之间用逗号","分隔。
                            </p>
                        </div>
                        <div>
                            <input type="email" name="alerter_email" class="form-control mt10" />
                            <p class="help-block">
                                邮箱。多个邮箱之间用逗号","分隔。
                            </p>
                        </div>
                        <p class="help-block">
                            <span class="info">
                                当消息处理失败频率或某条消息的处理失败次数达到一定值时，系统会向上面的手机号码及邮箱发送报警信息。
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <input type="button" class="btn btn-default" onclick="history.go(-1);" value="返回" />
                        <button class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>

        </div>
    </div><!-- panel -->

</div><!-- contentpanel -->

<script>
    jQuery(document).ready(function() {
        // Select2
        jQuery(".select2").select2({
            width: '100%'
        });

        var slider1 = $("#field-timeout").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider1.on("slide", function(slideEvt) {
            $("#field-timeout-value").val(slideEvt.value);
        });
        $("#field-timeout-value").change(function(){
            slider1.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider2 = $("#field-concurrency").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider2.on("slide", function(slideEvt) {
            $("#field-concurrency-value").val(slideEvt.value);
        });
        $("#field-concurrency-value").change(function(){
            slider2.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider3 = $("#field-concurrency_as_retry").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider3.on("slide", function(slideEvt) {
            $("#field-concurrency_as_retry-value").val(slideEvt.value);
        });
        $("#field-concurrency_as_retry-value").change(function(){
            slider3.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider4 = $("#field-interval_of_pushes").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider4.on("slide", function(slideEvt) {
            $("#field-interval_of_pushes-value").val(slideEvt.value);
        });
        $("#field-interval_of_pushes-value").change(function(){
            slider4.bootstrapSlider('setValue', parseInt($(this).val()));
        });


    });



</script>


{{template "footer.tmpl" .}}
