{{ $m := map }}
{{ template "header.tmpl" addToMap "ctx" . $m}}

<div class="pageheader">
    <h2><i class="fa fa-home"></i> 主页 <span></span></h2>
    <div class="breadcrumb-wrapper">
    </div>
</div>


<div class="contentpanel">

    <div class="row">

        <div class="col-sm-6 col-md-12">
            <div class="panel panel-stat" >
                <div class="panel-heading" style="min-height: 500px;text-align: center; background-color: #fcf8e3">
                    <h1 class="panel-title" style="margin-top: 50px;">欢迎使用消息·事件中心管理后台！</h1>

                </div><!-- panel-heading -->
            </div><!-- panel -->
        </div><!-- col-sm-6 -->

    </div><!-- row -->

</div><!-- contentpanel -->


{{template "footer.tmpl" .}}
