<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">

    <title>管理后台</title>

    <link href="/static/css/style.default.css" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0
        }
        .test {
            width: 100%;
            height: 500px;
            overflow-x : hidden;
        }
    </style>
</head>
<body style="background: #1d2939;" scroll="no" onresize="onBodyResize()">

<section>
    <div class="leftpanel">

        <div class="logopanel">
            <a href="/"><h1><span>[</span>消息中心-后台<span>]</span></h1></a>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <h5 class="sidebartitle"></h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="nav-parent">
                    <a href=""><i class="fa fa-home"></i> <span>首页管理</span></a>
                    <ul class="children">
                        <li><a href="#" onclick="openwithClick('/NavigationBar/show/1/step/10')"><i class="fa fa-caret-right"></i> 导航栏管理</a></li>
                        <li><a href="#" onclick="openwithClick('/Carousel/show/1/step/10')"><i class="fa fa-caret-right"></i> 轮播图管理</a></li>
                        <li><a href="#" onclick="openwithClick('/Stencil/show/1/step/10')"><i class="fa fa-caret-right"></i> 项目块管理</a></li>
                        <li><a href="#" onclick="openwithClick('/Bottom/show/1/step/10')"><i class="fa fa-caret-right"></i> 底部管理</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-edit"></i> <span>详情页管理</span></a>
                    <ul class="children">
                        <li><a href="/Event/Subscriber/add"><i class="fa fa-caret-right"></i> 添加账号</a></li>
                        <li><a href="/Event/Subscriber/show"><i class="fa fa-caret-right"></i> 账号列表</a></li>

                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-bell"></i> <span>其他管理</span></a>
                    <ul class="children">
                        <li><a href="/Event/Subscription/add"><i class="fa fa-caret-right"></i> 添加订阅</a></li>
                        <li><a href="/Event/Subscription/show"><i class="fa fa-caret-right"></i> 订阅列表</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-gears"></i> <span>系统管理</span></a>
                    <ul class="children">
                        <li><a href="/Sys/Params/update"><i class="fa fa-caret-right"></i> 系统参数设置 </a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->



    <div class="mainpanel">

        <div class="headerbar">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>



            <!--<div class="header-right">-->
                <!--<ul class="headermenu">-->
                    <!--<li>-->
                        <!--<div class="btn-group">-->
                            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                                <!--<i class="glyphicon glyphicon-user"></i>-->
                                <!--{{.ctx.name}}-->
                                <!--<span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu dropdown-menu-usermenu pull-right" style="width:100px;">-->
                                <!--<li><a href="/Auth/LoginOut"><i class="glyphicon glyphicon-log-out"></i>退出</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; header-right &ndash;&gt;-->

        </div><!-- headerbar -->

        <div id="test" class="test">
            <iframe src="/stencil.html" frameborder="no" name="maincontent" id="maincontent" scrolling="yes" ></iframe>
        </div>

    </div><!-- mainpanel -->


</section>


<!-- Core JavaScript Files -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->



<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>
<script src="/static/js/toggles.min.js"></script>
<!--<script src="/static/js/retina.min.js"></script>-->
<script src="/static/js/jquery.cookies.js"></script>

<!--图像部分js-->
<!--<script src="/static/js/flot/jquery.flot.min.js"></script>-->
<!--<script src="/static/js/flot/jquery.flot.resize.min.js"></script>-->
<!--<script src="/static/js/flot/jquery.flot.spline.min.js"></script>-->
<!--<script src="/static/js/morris.min.js"></script>-->
<!--<script src="/static/js/raphael-2.1.0.min.js"></script>-->


<script src="/static/js/custom.js"></script>
<!--<script src="/static/js/dashboard.js"></script>-->


<script>
    $.fn.scrollUnique = function() {
        return $(this).each(function() {
            var eventType = 'mousewheel';
            if (document.mozHidden !== undefined) {
                eventType = 'DOMMouseScroll';
            }
            $(this).on(eventType, function(event) {
                // 一些数据
                var scrollTop = this.scrollTop,
                    scrollHeight = this.scrollHeight,
                    height = this.clientHeight;

                var delta = (event.originalEvent.wheelDelta) ? event.originalEvent.wheelDelta : -(event.originalEvent.detail || 0);

                if ((delta > 0 && scrollTop <= delta) || (delta < 0 && scrollHeight - height - scrollTop <= -1 * delta)) {
                    // IE浏览器下滚动会跨越边界直接影响父级滚动，因此，临界时候手动边界滚动定位
                    this.scrollTop = delta > 0? 0: scrollHeight;
                    // 向上滚 || 向下滚
                    event.preventDefault();
                }
            });
        });
    };

    $('#test').scrollUnique();


    window.onload = function checkSession() {
        host = "http://" + window.location.host;
        iframesetheight() ;
    }
    function openwithClick(url){
        document.getElementById("maincontent").src = url;
    }

    //页面发生变化的时候时候调用方法
    function onBodyResize(){
        iframesetheight() ;
        document.getElementById("maincontent").contentWindow.onBodyResize();
    }
    //调整iframe大小
    function iframesetheight() {
        var ifm = document.getElementById("maincontent");
        var subWeb = document.frames ? document.frames["maincontent"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.documentElement.clientHeight  ;
        }
        if (window.innerWidth >800){
            ifm.width = window.innerWidth - 241;
        }else{
            ifm.width = window.innerWidth ;
        }

    }

</script>

</body>
</html>
