<link href="/static/css/style.default.css" rel="stylesheet">
<link href="/static/css/select2.css" rel="stylesheet">

<div class="pageheader">
    <h2><i class="fa fa-table"></i> 模版列表 </h2>
</div>

<div class="contentpanel">
    <div class="panel panel-default">

        <div class="panel-body">
            <h3 class="panel-title">查询</h3>
            <form class="form-horizontal form-bordered" action="" method="get">
                <div class="form-group">
                    <label class="col-sm-3 control-label">标题: <span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <input type="text" name="class_key" class="form-control" value="" placeholder="请填写标题..."/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <button class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-footer">
            <div class="table-responsive">
                <table class="table table-striped table-layout" id="dataTable">
                    <thead>
                    <tr>
                        <th>行号</th>
                        <th>照片URL</th>
                        <th>标题</th>
                        <th>内容</th>
                        <th>价格</th>
                        <th>序号</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody id="maintablebody">
                    </tbody>


                    <div class="dataTables_length">
                        <label>每页</label>
                        <label>
                            <select id="stepInput" name="perPageNums" onChange="currentPatchPage = 1;changeStep(false)">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                        <label>行</label>
                    </div>
                    <div id="pageLabelDiv" class="dataTables_paginate paging_bootstrap pagination">
                        <ul class="pagination pagination-sm">
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10"></div>
                        <div class="col-md-2" align="right">
                            <button data-toggle="modal" href="#myModal" class="btn btn-success  btn-sm"
                                    onclick="currentId=0;clearForm();">新增
                            </button>
                        </div>
                    </div>


                </table>
            </div><!-- table-responsive -->


            <!--	//-----------弹出创建的窗口------start------------>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="addAPIUserTitle">添加模块信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>模版图片</label>
                                        <input type="text" class="form-control" id="basicImage"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>标题</label>
                                        <input type="text" class="form-control" id="basicTitle"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>内容</label>
                                        <input type="text" class="form-control" id="basicContent"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>价格</label>
                                        <input type="text" class="form-control" id="basicPrice"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>排序序号</label>
                                        <input type="text" class="form-control" id="basicOrderNum"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
                            <button class="btn btn-success  btn-sm" onclick="saveNewItem()">保存</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal -->
            <!--   //-----------弹出创建的窗口------end----------      -->

        </div><!-- panel-body -->
    </div><!-- panel -->

</div><!-- contentpanel -->

<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/select2.min.js"></script>

<script>
    //每页的条数发生改变时  重新计算分页条数
    function changeStep(onlyChangeStep) {
        var pagelabelDiv = $("#pageLabelDiv ul");
        pagelabelDiv.empty();
        var stepinput = document.getElementById("stepInput")
        step = parseInt(stepinput.options[stepinput.selectedIndex].value);
        var pageNum = Math.ceil(totalCount / step);
        if (currentPage <= 1) {
            pagelabelDiv.append('<li class="disabled"><a href="#">上一页</a></li>')
        } else {
            pagelabelDiv.append('<li class="" onclick="getList(' + (currentPage - 1) + ',' + step + ')" ><a href="#">上一页</a></li>')
        }
        if (pageNum > 6) {
            for (var i = 1; i <= pageNum; i++) {
                if ((i) == currentPage) {
                    pagelabelDiv.append('<li class="active"><a>' + (i) + '</a></li>')
                } else if ((i <= 2)) {
                    pagelabelDiv.append('<li onclick="getList(' + i + ',' + step + ')"><a  href="#">' + (i) + '</a></li>')
                } else if ((i >= currentPage - 1 && (i <= currentPage + 1)) || (i > pageNum - 2)) {
                    pagelabelDiv.append('<li onclick="getList(' + i + ',' + step + ')"><a  href="#">' + (i) + '</a></li>')
                }
            }

        } else {
            for (var i = 1; i <= pageNum; i++) {
                if ((i) == currentPage) {
                    pagelabelDiv.append('<li class="active"><a>' + (i) + '</a></li>')
                } else {
                    pagelabelDiv.append('<li onclick="getList(' + i + ',' + step + ')"><a  href="#">' + (i) + '</a></li>')
                }
            }
        }
        if (currentPage >= pageNum) {
            pagelabelDiv.append('<li class="disabled"><a href="#">下一页</a></li>')
        } else {
            pagelabelDiv.append('<li class="" onclick="getList(' + (currentPage + 1) + ',' + step + ')" ><a href="#">下一页</a></li>')
        }
        if (onlyChangeStep == false) {
            getList(currentPage, step);
        }
    }

    jQuery(document).ready(function () {
        // Select2
        jQuery("#stepInput").select2({
            width: '100%',
            minimumResultsForSearch: -1
        });
    });


    var totalCount = 0
    var currentPage = 1
    var step = 10
    var tablebody
    var currentListData
    var adddata
    var host
    var currentId = -1 //当前uid

    //页面载入后先获取默认条数的数据
    window.onload = function () {
        host = "http://" + window.location.host
        getList(currentPage, step);
    };

    //从API获取数据列表
    function getList(page, tempstep) {
        currentPage = page;
        step = tempstep
        searchList();
    }

    //----------------------------上面为相同部分---------------------------------------------


    //点击提交按钮
    function searchList() {
        $.get(host + "/Stencil/show/" + currentPage + "/step/" + step, null, listToSuccess, "json");
    }

    //从数据库中获取列表成功
    function listToSuccess(response, status, xhr) {
        if (status == "success" && response.reusltCode == "200") {
            currentListData = response.reusltDetail.dataList;
            totalCount = response.totalCount;
            clearDataTable();
            changeStep(true);
            fillTable();
            parent.setMainContentHeight(currentListData.length, 52);
        } else {
            alert(response);
        }

    }

    //清空数据表格
    function clearDataTable() {
        tablebody = $("#maintablebody");
        tablebody.empty();
    }

    //采用本地数组中的数据填充表格
    function fillTable() {
        adddata = "";
        $.each(currentListData, function (index, item) {
            adddata += ("<tr name=" + index + ">");
            adddata += ("<td>" + (index + 1) + "</td>");
            adddata += ("<td class=\"\">" + item.image + "</td>");
            adddata += ("<td class=\"\">" + item.title + "</td>");
            adddata += ("<td class=\"\">" + item.content + "</td>");
            adddata += ("<td class=\"\">" + item.price + "</td>");
            adddata += ("<td class=\"\">" + item.ordernum + "</td>");
            adddata += ("<td class=\"\">" + item.time + "</td>");
            adddata += ("<td class=\"table-action table-operate\"> " +
                "<a data-toggle='modal' href='#myModal'   onclick='editItem(" + index + ")' ><i class=\"fa fa-pencil\"></i></a> " +
                "<a data-toggle='modal' href='#'  onclick='deleteItem(" + item.id + ")' ><i class=\"fa fa-trash-o\"></i></a>" +
                "</td>");
            adddata += "</tr>";

        });
        tablebody.append(adddata);
    }


    //点击编辑按钮的时候
    function saveNewItem() {

        var currentdata = new Object();
        currentdata.Id = currentId;
        currentdata.Image = $("#basicImage").val();
        currentdata.Title = $("#basicTitle").val();
        currentdata.Content = $("#basicContent").val();
        currentdata.Price = $("#basicPrice").val();
        currentdata.OrderNum = $("#basicOrderNum").val();

//        if (currentdata.system == "") {
//            document.getElementById("basicValue").focus();
//            alert("所属平台必须填写");
//            return;
//        } else {
//            currentdata.system = parseInt(document.getElementById("basicSystem").value, 10)
//        }
//        if (currentdata.type == "") {
//            document.getElementById("basicType").focus();
//            alert("类型必须填写");
//            return;
//        }
//        if (currentdata.value == "") {
//            document.getElementById("basicValue").focus();
//            alert("类型的值必须填写");
//            return;
//        }

//        currentdata.page = currentPage;
//        currentdata.step = step;
        $.ajaxSetup({
            contentType: 'application/json'
        });
        $.post(host + "/Stencil/add", JSON.stringify(currentdata), returnSuccess, "json");

    }

    //保存成功
    function returnSuccess(response, status, xhr) {
        if (status == "success" && response.reusltCode == "200") {
            getList(currentPage, step);
            currentId = 0;
            currentListData = response.reusltDetail;
            $('#myModal').modal('hide');
//            alert("操作成功！");
        } else {
            alert(response);
        }
    }


    //清空表单
    function clearForm() {
//        document.getElementById("basicType").value = "";
//        document.getElementById("basicValue").value = "";
    }

    //点击编辑按钮的时候
    function editItem(i) {
        currentTabIndex = i;
        currentId = currentListData[i].id;
        $("#basicImage").val(currentListData[i].image);
        $("#basicTitle").val(currentListData[i].title);
        $("#basicContent").val(currentListData[i].content);
        $("#basicPrice").val(currentListData[i].price);
        $("#basicOrderNum").val(currentListData[i].ordernum);
    }

    //删除
    function deleteItem(i) {
        if (confirm('确定要删除？')) {
            $.ajax({
                url: host + "/Stencil/delete/" + i,
                type: 'DELETE',
                success: function(response, status, xhr) {
                    var currentType = $('#basicInfoType option:selected').val();
                    if(status == "success" && response.reusltCode == "200") {
                        getList(currentPage, step);
                        currentId = 0;
                        currentListData = response.reusltDetail;
                        alert("删除成功！");
                    } else {
                        alert(response);
                    }
                },
            });
        }

    }


</script>