{{ $css := list "/static/css/select2.css" "/static/css/bootstrap-slider.css"  }}
{{ $js := list "/static/js/select2.min.js" "/static/js/bootstrap-slider.js" "/static/js/jquery.ui.touch-punch.min.js"  }}
{{ $m := map }}
{{ template "header.tmpl" addToMap "css" $css $m | addToMap "js" $js | addToMap "ctx" . }}


<div class="pageheader">
	<h2><i class="fa fa-table"></i> 系统管理 </h2>
</div>


<div class="contentpanel">
	<div class="panel panel-default">
		{{template "alert.tmpl" .}}
		<div class="panel-body">
			<h3 class="panel-title">修改</h3>
			<form class="form-horizontal form-bordered" action="" method="post">

				<div class="form-group">
					<label class="col-sm-2 control-label">每个订阅允许的最大并发推送数：<span class="asterisk"></span></label>
					<div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-warning col-sm-11">
                                <input id="field-1"  name="MaxSendConcurrencyPerChannel" type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxSendConcurrencyPerChannel}}" data-slider-value="{{.data.MaxSendConcurrencyPerChannel}}" data-slider-step="1" required />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-1-value" type="number" class="field-input" min="0" max="{{.configParams.MaxSendConcurrencyPerChannel}}" value="{{.data.MaxSendConcurrencyPerChannel}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultSendConcurrencyPerChannel" class="field-input" min="0" max="{{.configParams.MaxSendConcurrencyPerChannel}}" value="{{.data.DefaultSendConcurrencyPerChannel}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxSendConcurrencyPerChannel}})
                            </p>
                        </div>

					</div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">每个订阅(重试时)允许的最大并发推送数：<span class="asterisk"></span></label>
					<div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-danger col-sm-11">
                                <input id="field-2"  name="MaxResendConcurrencyPerChannel"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxResendConcurrencyPerChannel}}" data-slider-value="{{.data.MaxResendConcurrencyPerChannel}}" data-slider-step="1" required />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-2-value" type="number" class="field-input" min="0" max="{{.configParams.MaxResendConcurrencyPerChannel}}" value="{{.data.MaxResendConcurrencyPerChannel}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultResendConcurrencyPerChannel" class="field-input" min="0" max="{{.configParams.MaxResendConcurrencyPerChannel}}" value="{{.data.DefaultResendConcurrencyPerChannel}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxResendConcurrencyPerChannel}})
                            </p>
                        </div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">每个订阅单线程上最小推送间隔时间允许的最大值(ms)：<span class="asterisk"></span></label>
					<div class="col-sm-9">
                        <div class="form-group">

                            <div class="slider-primary col-sm-11">
                                <input id="field-3"  name="MaxIntervalOfSendingPerRoutine"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxIntervalOfSendingPerRoutine}}" data-slider-value="{{.data.MaxIntervalOfSendingPerRoutine}}" data-slider-step="1" required />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-3-value" type="number" class="field-input" min="0" max="{{.configParams.MaxIntervalOfSendingPerRoutine}}" value="{{.data.MaxIntervalOfSendingPerRoutine}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultIntervalOfSendingPerRoutine" class="field-input" min="0" max="{{.configParams.MaxIntervalOfSendingPerRoutine}}" value="{{.data.DefaultIntervalOfSendingPerRoutine}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：ms。最小值:0, 最大值:{{.configParams.MaxIntervalOfSendingPerRoutine}})
                            </p>
                        </div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">每个消息允许的最大处理时间(ms)：<span class="asterisk"></span></label>
					<div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-success col-sm-11">
                                <input id="field-4"  name="MaxMessageProcessTimeout"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxMessageProcessTimeout}}" data-slider-value="{{.data.MaxMessageProcessTimeout}}" data-slider-step="1" required />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-4-value" type="number" class="field-input" min="0" max="{{.configParams.MaxMessageProcessTimeout}}" value="{{.data.MaxMessageProcessTimeout}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultMessageProcessTimeout" class="field-input" min="0" max="{{.configParams.MaxMessageProcessTimeout}}" value="{{.data.DefaultMessageProcessTimeout}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：ms。最小值:0, 最大值:{{.configParams.MaxMessageProcessTimeout}})
                            </p>
                        </div>
					</div>
				</div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">开启消息推送日志： <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="radio-inline">
                            <input type="radio" name="EnableMessageSendLog" value="1" {{if eq .data.EnableMessageSendLog true }} checked {{end}} /> 开启
                        </div>
                        <div class="radio-inline">
                            <input type="radio" name="EnableMessageSendLog" value="0" {{if eq .data.EnableMessageSendLog false }} checked {{end}}  /> 关闭
                        </div>
                        <p class="help-block">

                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否记录查询日志: <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="radio-inline">
                            <input type="radio" name="EnableDbQueryLog" value="1" {{if eq .data.EnableDbQueryLog true }} checked {{end}} /> 开启
                        </div>
                        <div class="radio-inline">
                            <input type="radio" name="EnableDbQueryLog" value="0" {{if eq .data.EnableDbQueryLog false }} checked {{end}}  /> 关闭
                        </div>
                        <p class="help-block">

                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">(默认的)最大未被订阅的消息总数: <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-success col-sm-11">
                                <input id="field-5"  name="MaxUndistributedTopicMessages"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxUndistributedTopicMessages}}" data-slider-value="{{.data.MaxUndistributedTopicMessages}}" data-slider-step="1" required />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-5-value" type="number" class="field-input" min="0" max="{{.configParams.MaxUndistributedTopicMessages}}" value="{{.data.MaxUndistributedTopicMessages}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultUndistributedTopicMessages" class="field-input" min="0" max="{{.configParams.MaxUndistributedTopicMessages}}" value="{{.data.DefaultUndistributedTopicMessages}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxUndistributedTopicMessages}})
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">(默认的)最大延时消息总数: <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-warning col-sm-11">
                                <input id="field-6"  name="MaxDeferredMessages"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxDeferredMessages}}" data-slider-value="{{.data.MaxDeferredMessages}}" data-slider-step="1" />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-6-value" type="number" class="field-input" min="0" max="{{.configParams.MaxDeferredMessages}}" value="{{.data.MaxDeferredMessages}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultDeferredMessages" class="field-input" min="0" max="{{.configParams.MaxDeferredMessages}}" value="{{.data.DefaultUndistributedTopicMessages}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxDeferredMessages}})
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">订阅通道上的消息阻塞消息数报警阀值: <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-danger col-sm-11">
                                <input id="field-7"  name="MaxBlockedChannelMessages"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxBlockedChannelMessages}}" data-slider-value="{{.data.MaxBlockedChannelMessages}}" data-slider-step="1" />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-7-value" type="number" class="field-input" min="0" max="{{.configParams.MaxBlockedChannelMessages}}" value="{{.data.MaxBlockedChannelMessages}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultBlockedChannelMessages" class="field-input" min="0" max="{{.configParams.MaxBlockedChannelMessages}}" value="{{.data.DefaultBlockedChannelMessages}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxBlockedChannelMessages}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">最大消息重新发送间隔: <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-primary col-sm-11">
                                <input id="field-8"  name="MaxMessageResendTimes"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxMessageResendTimes}}" data-slider-value="{{.data.MaxMessageResendTimes}}" data-slider-step="1" />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-8-value" type="number" class="field-input" min="0" max="{{.configParams.MaxMessageResendTimes}}" value="{{.data.MaxMessageResendTimes}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultMessageResendTimes" class="field-input" min="0" max="{{.configParams.MaxMessageResendTimes}}" value="{{.data.DefaultMessageResendTimes}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxMessageResendTimes}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">最大消息重新发送间隔: <span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="slider-info col-sm-11">
                                <input id="field-9"  name="MaxMessageFailureAlertThreshold"  type="text" data-slider-min="0" data-slider-max="{{.configParams.MaxMessageFailureAlertThreshold}}" data-slider-value="{{.data.MaxMessageFailureAlertThreshold}}" data-slider-step="1" />
                            </div>
                            <div class="col-sm-1">
                                <input id="field-9-value" type="number" class="field-input" min="0" max="{{.configParams.MaxMessageFailureAlertThreshold}}" value="{{.data.MaxMessageFailureAlertThreshold}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 field-default-value">默认值:</label>
                            <div class="col-sm-1 field-default-value">
                                <input type="number" name="DefaultMessageFailureAlertThreshold" class="field-input" min="0" max="{{.configParams.MaxMessageFailureAlertThreshold}}" value="{{.data.DefaultMessageFailureAlertThreshold}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="help-block">
                                (单位：个数。最小值:0, 最大值:{{.configParams.MaxMessageFailureAlertThreshold}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">队列服务器地址：<span class="asterisk"></span></label>
                    <div class="col-sm-9">
                        <textarea name="QueueServerAddr" placeholder="队列服务nsqlookupd的地址，例如: 127.0.0.1:4161。 可以设置多个。" class="form-control" rows="3" required>{{.data.QueueServerAddr}}</textarea>
                        <p>
                        <dl>
                            <dd>可以设置多个地址，每个地址占一行,例如:</dd>
                            <dd>
                                127.0.0.1:4161<br />
                                127.0.0.2:4161
                            </dd>
                        </dl>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">重试延时参数：<span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <input type="number" name="CoeOfIntervalForRetrySendingMsg" class="form-control" value="{{.data.CoeOfIntervalForRetrySendingMsg}}" placeholder="请输入默认值..." required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">消息容错存储列表名称：<span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <input type="text" name="MsgQueueFaultToleranceListNamePrefix" class="form-control"  value="{{.data.MsgQueueFaultToleranceListNamePrefix}}" placeholder="请输入默认值..." required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Db查询日志保存的最长时间：<span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <input type="text" name="DbLogLifeTime" class="form-control"  value="{{.data.DbLogLifeTime}}" placeholder="请输入默认值..." required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文本日志保存的最长时间：<span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <input type="text" name="FileLogLifeTime" class="form-control" value="{{.data.FileLogLifeTime}}" placeholder="请输入默认值..." required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">redis设置：<span class="asterisk"></span></label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地址：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="RedisAddr" class="form-control" value="{{.data.RedisAddr}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="password" name="RedisPassword" class="form-control" value="{{.data.RedisPassword}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数据库：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="number" name="RedisDbIndex" class="form-control" value="{{.data.RedisDbIndex}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">AlerterEmail设置：<span class="asterisk"></span></label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网关：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailGateway" class="form-control" value="{{.data.AlerterEmailGateway}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ack字符串：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailAckStr" class="form-control" value="{{.data.AlerterEmailAckStr}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailUser" class="form-control" value="{{.data.AlerterEmailUser}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="password" name="AlerterEmailPassword" class="form-control" value="{{.data.AlerterEmailPassword}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模板路径：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailTemplateRootPath" class="form-control" value="{{.data.RedisAddr}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">接收者：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailPostFieldsMapRecipient" class="form-control" value="{{.data.AlerterEmailPostFieldsMapRecipient}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">主题：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailPostFieldsMapSubject" class="form-control" value="{{.data.AlerterEmailPostFieldsMapSubject}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterEmailPostFieldsMapContent" class="form-control" value="{{.data.AlerterEmailPostFieldsMapContent}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">AlerterSms设置：<span class="asterisk"></span></label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网关：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsGateway" class="form-control" value="{{.data.AlerterSmsGateway}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ack字符串：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsAckStr" class="form-control" value="{{.data.AlerterSmsAckStr}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsUser" class="form-control" value="{{.data.AlerterSmsUser}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="password" name="AlerterSmsPassword" class="form-control" value="{{.data.AlerterSmsPassword}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模板路径：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsTemplateRootPath" class="form-control" value="{{.data.AlerterSmsTemplateRootPath}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">接收用户：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsPostFieldsMapUser" class="form-control" value="{{.data.AlerterSmsPostFieldsMapUser}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">接收密码：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="password" name="AlerterSmsPostFieldsMapPassword" class="form-control" value="{{.data.AlerterSmsPostFieldsMapPassword}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">接收者：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsPostFieldsMapRecipient" class="form-control" value="{{.data.AlerterSmsPostFieldsMapRecipient}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容：<span class="asterisk"></span></label>
                            <div class="col-sm-5">
                                <input type="text" name="AlerterSmsPostFieldsMapContent" class="form-control" value="{{.data.AlerterSmsPostFieldsMapContent}}" placeholder="请输入默认值..." required />
                            </div>
                        </div>

                    </div>
                </div>



				<div class="form-group">
					<div class="col-sm-5 col-sm-offset-3">
						<input type="button" class="btn btn-default" onclick="history.go(-1);" value="返回" />
						<button class="btn btn-primary">修改</button>
					</div>
				</div>
			</form>

		</div>
	</div><!-- panel -->

</div><!-- contentpanel -->

<script>
	jQuery(document).ready(function() {


        var slider1 = $("#field-1").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider1.on("slide", function(slideEvt) {
            $("#field-1-value").val(slideEvt.value);
        });
        $("#field-1-value").change(function(){
            slider1.bootstrapSlider('setValue', parseInt($(this).val()));
        });


        var slider2 = $("#field-2").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider2.on("slide", function(slideEvt) {
            $("#field-2-value").val(slideEvt.value);
        });
        $("#field-2-value").change(function(){
            slider2.bootstrapSlider('setValue', parseInt($(this).val()));
        });


        var slider3 = $("#field-3").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider3.on("slide", function(slideEvt) {
            $("#field-3-value").val(slideEvt.value);
        });
        $("#field-3-value").change(function(){
            slider3.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider4 = $("#field-4").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider4.on("slide", function(slideEvt) {
            $("#field-4-value").val(slideEvt.value);
        });
        $("#field-4-value").change(function(){
            slider4.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider5 = $("#field-5").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider5.on("slide", function(slideEvt) {
            $("#field-5-value").val(slideEvt.value);
        });
        $("#field-5-value").change(function(){
            slider5.bootstrapSlider('setValue', parseInt($(this).val()));
        });


        var slider6 = $("#field-6").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider6.on("slide", function(slideEvt) {
            $("#field-6-value").val(slideEvt.value);
        });
        $("#field-6-value").change(function(){
            slider6.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider7 = $("#field-7").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider7.on("slide", function(slideEvt) {
            $("#field-7-value").val(slideEvt.value);
        });
        $("#field-7-value").change(function(){
            slider7.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider8 = $("#field-8").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider8.on("slide", function(slideEvt) {
            $("#field-8-value").val(slideEvt.value);
        });
        $("#field-8-value").change(function(){
            slider8.bootstrapSlider('setValue', parseInt($(this).val()));
        });

        var slider9 = $("#field-9").bootstrapSlider({
            formatter: function(value) {
                return value;
            }
        });
        slider9.on("slide", function(slideEvt) {
            $("#field-9-value").val(slideEvt.value);
        });
        $("#field-9-value").change(function(){
            slider9.bootstrapSlider('setValue', parseInt($(this).val()));
        });



    });

</script>


{{template "footer.tmpl" .}}

