{{ $css := list "/static/css/select2.css"  }}
{{ $js := list "/static/js/select2.min.js" }}
{{ $m := map }}
{{ template "header.tmpl" addToMap "css" $css $m | addToMap "js" $js | addToMap "ctx" . }}



<div class="pageheader">
    <h2><i class="fa fa-table"></i> 队列状态</h2>
</div>

<div class="contentpanel">
    <div class="panel panel-default">

        {{template "alert.tmpl" .}}

        <div class="panel-body">
            <h3 class="panel-title">查询</h3>
            <form class="form-horizontal form-bordered" action="" method="get">
                <div class="form-group">
                    <label class="col-sm-3 control-label">队列服务器列表 <span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <select class="select2" name="host">
                            <option value="">-ALL-</option>
                            {{range $k,$nsq :=.hosts}}
                            <option  disabled="disabled">{{$k}}</option>
                                {{range $_,$host :=$nsq}}
                                <option value="{{$host.Host}}" {{if eq $host.Host $.host}}selected="true"{{end}} >{{$host.Host}}:{{$host.Port}}</option>
                                {{end}}
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">订阅者 <span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <select class="select2" name="subscriber_key">
                            <option value="">-ALL-</option>
                            {{range $_,$subscriber :=.subscribers}}
                            <option value="{{$subscriber.SubscriberKey}}" {{if eq $subscriber.SubscriberKey $.subscriberKey}}selected="true"{{end}} >{{$subscriber.SubscriberKey}}({{$subscriber.SubscriberName}})</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">消息类型 <span class="asterisk"></span></label>
                    <div class="col-sm-5">
                        <select class="select2" name="message_class">
                            <option value="">-ALL-</option>
                            {{range $_,$message :=.messageClasses}}
                            <option value="{{$message.ClassKey}}" {{if eq $message.ClassKey $.messageClass}}selected="true"{{end}} >({{$message.ClassKey}}){{$message.ClassName}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <button class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="panel-footer">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>RDY</th>
                        <th>Depth</th>
                        <th>In-Flight</th>
                        <th>Deferred</th>
                        <th>Timed Out</th>
                        <th>Messages</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $_,$nsq :=.data}}
                    <tr><th colspan="8">Server: {{$nsq.host}}</th></tr>
                        {{range $_,$topic := $nsq.topics}}
                        <tr><th colspan="8"> >>&nbsp;Topic: {{$topic.topic_name}}</th></tr>
                            {{range $_,$channel := $topic.channels}}
                            <tr class="odd gradeX">
                                <td>
                                    >>>>&nbsp;{{$channel.channel_name}}
                                </td>
                                <td>{{$channel.ready_count}}</td>
                                <td style="color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6;" >{{$channel.depth}}</td>
                                <td style="color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc;"  >{{$channel.in_flight_count}}</td>
                                <td style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1;"  >{{$channel.deferred_count}}</td>
                                <td>{{$channel.timeout_count}}</td>
                                <td>{{$channel.message_count}}</td>
                            </tr>
                            {{end}}
                        {{end}}
                    {{end}}
                    </tbody>
                    <tfoot>
                    {{ template "paginator.tmpl" .}}
                    </tfoot>
                </table>
            </div><!-- table-responsive -->

        </div><!-- panel-body -->
    </div><!-- panel -->

</div><!-- contentpanel -->


<script>
    jQuery(document).ready(function() {

        // Select2
        jQuery(".select2").select2({
            width: '100%'
        });

    });

</script>


{{template "footer.tmpl" .}}