<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">


    <title>消息中心管理后台-{{.ctx.title}}</title>


    <link href="/static/css/style.default.css" rel="stylesheet">
    {{ range $_, $_css := .css }}
    <link href="{{ $_css }}" rel="stylesheet" type="text/css" />
    {{ end }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->



    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/modernizr.min.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/toggles.min.js"></script>
    <!--<script src="/static/js/retina.min.js"></script>-->
    <script src="/static/js/jquery.cookies.js"></script>

    <!--图像部分js-->
    <!--<script src="/static/js/flot/jquery.flot.min.js"></script>-->
    <!--<script src="/static/js/flot/jquery.flot.resize.min.js"></script>-->
    <!--<script src="/static/js/flot/jquery.flot.spline.min.js"></script>-->
    <!--<script src="/static/js/morris.min.js"></script>-->
    <!--<script src="/static/js/raphael-2.1.0.min.js"></script>-->


    {{ range $_, $_js := .js }}
    <script src="{{ $_js }}"></script>
    {{ end }}


    <script src="/static/js/custom.js"></script>
    <!--<script src="/static/js/dashboard.js"></script>-->

</head>
<body>

<section>
    <div class="leftpanel">

        <div class="logopanel">
            <a href="/"><h1><span>[</span>消息中心-后台<span>]</span></h1></a>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <h5 class="sidebartitle"></h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="nav-parent">
                    <a href=""><i class="fa fa-envelope"></i> <span>消息分类管理</span></a>
                    <ul class="children">
                        <li><a href="/Event/MsgList/add"><i class="fa fa-caret-right"></i> 添加消息类型</a></li>
                        <li><a href="/Event/MsgList/show"><i class="fa fa-caret-right"></i> 消息类型列表</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-users"></i> <span>账号管理</span></a>
                    <ul class="children">
                        <li><a href="/Event/Subscriber/add"><i class="fa fa-caret-right"></i> 添加账号</a></li>
                        <li><a href="/Event/Subscriber/show"><i class="fa fa-caret-right"></i> 账号列表</a></li>

                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-bell"></i> <span>订阅管理</span></a>
                    <ul class="children">
                        <li><a href="/Event/Subscription/add"><i class="fa fa-caret-right"></i> 添加订阅</a></li>
                        <li><a href="/Event/Subscription/show"><i class="fa fa-caret-right"></i> 订阅列表</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-gears"></i> <span>系统信息</span></a>
                    <ul class="children">
                        <li><a href="/Nsq/Stats"><i class="fa fa-caret-right"></i> 消息队列状态统计 </a></li>
                        <li><a href="/Event/LogList"><i class="fa fa-caret-right"></i> 消息推送失败日志</a></li>
                        <li><a href="/Event/LogDownload"><i class="fa fa-caret-right"></i> 系统日志下载</a></li>
                        <li><a href="/RedisInfo/Stats"><i class="fa fa-caret-right"></i> Redis 信息统计</a></li>
                        <li><a href="/RedisInfo/MessageList"><i class="fa fa-caret-right"></i> 消息队列Redis使用情况</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href=""><i class="fa fa-gears"></i> <span>系统管理</span></a>
                    <ul class="children">
                        <li><a href="/Sys/Params/update"><i class="fa fa-caret-right"></i> 系统参数设置 </a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->



    <div class="mainpanel">

        <div class="headerbar">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>



            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                {{.ctx.name}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right" style="width:100px;">
                                <li><a href="/Auth/LoginOut"><i class="glyphicon glyphicon-log-out"></i>退出</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->







    </div><!-- mainpanel -->


</section>


</body>
</html>
