<div style="text-align:center;padding-left: 100px;margin-top: -24px;float: right;" class="pagination">
    {{if .paginator}}
        <ul class="pagination pagination-sm">
            {{if .paginator.HasPrev}}
                <li>
                    <a href="{{.paginator.PageLinkFirst}}">首页</a>
                </li>
                <li>
                    <a href="{{.paginator.PageLinkPrev}}">上一页</a>
                </li>
            {{else}}
                <li class="disabled">
                    <a>首页</a>
                </li>
                <li class="disabled">
                    <a>上一页</a>
                </li>
            {{end}}
            {{range $index, $page := .paginator.Pages}}
                <li {{if $.paginator.IsActive .}} class="active" {{end}}>
                    <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                </li>
            {{end}}
            {{if .paginator.HasNext}}
                <li>
                    <a href="{{.paginator.PageLinkNext}}">下一页</a>
                </li>
                <li>
                    <a href="{{.paginator.PageLinkLast}}">末页</a>
                </li>
            {{else}}
                <li class="disabled">
                    <a>下一页</a>
                </li>
                <li class="disabled">
                    <a>末页</a>
                </li>
            {{end}}
            <li class="disabled">
                <a>
                    共{{.paginator.Nums }}条数据 每页{{.paginator.PerPageNums}}条 当前{{.paginator.Page}}/{{.paginator.PageNums}}页
                </a>
            </li>
        </ul>
    {{end}}
</div>